$icon-font-path: '../fonts/';

// Import Custom Fonts
@import "fonts";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


// ***************************************************************************
// WHOLE PAGE STYLING
// ***************************************************************************

body {
    background-color: black;
}

h1 {
    font-size: 140px;
    font-family: VacationPostcardNF;
}

h2 {
    font-size: 70px;
    font-family: VacationPostcardNF;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 14px;
}

// MOBILE HEADING SIZES

@media (max-width: 768px) {
    h1 {
        font-size: 70px;
        font-family: VacationPostcardNF;
    }

    h2 {
        font-size: 40px;
        font-family: VacationPostcardNF;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 12px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

// ***************************************************************************
// STRUCTURE COMPONENTS
// ***************************************************************************

.title {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    color: white;
    h1 {
        margin-bottom: 50px;
    }
}

.download {
    margin: 70px auto;
    text-align: center;
}

.button {
    display: inline;
    color: white;
    padding: 15px 25px;
    margin: 0 15px;
    border: 1px solid white;
    border-radius: 5px;
    &:hover {
        color: black;
        background-color: white;
    }
}

.player {
    width: 460px;
    margin: 70px auto;
}

@media (max-width: 768px) {
    .player {
        width: 280px;
    }
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    i {
        font-size: 40px;
        padding: 0 20px 20px 20px;
        color: white;
    }
    .fa-twitter:hover {
        color: #55acee;
    }
    .fa-facebook:hover {
        color: #3b5998;
    }
    .fa-envelope:hover {
        color: #db4437;
    }
    .fa-soundcloud:hover {
        color: #FD6A20;
    }
    .fa-instagram:hover {
        color: #a0775c;
    }
}

@media (max-width: 768px) {
    .social-list {
        i {
            font-size: 35px;
            padding: 0 15px 15px 15px;
        }
    }
}

.footer {
    text-align: right;
}






// ***************************************************************************
// AUDIO PLAYER / PLAYLIST STYLES
// ***************************************************************************

.audiojs {
    .play-pause {
        width: 38px;
    }
}
 a {
     color: #888;
     text-decoration: none;
 }

 ol {
     padding: 0px;
     margin: 0px;
     list-style: decimal-leading-zero inside;
     color: #ccc;
     width: 460px;
     border-top: 1px solid #ccc;
     font-size: 12px;
     li {
        position: relative;
        margin: 0px;
        padding: 9px 2px 10px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        a {
            display: block;
            text-decoration: none;
            text-indent: -3.3ex;
            padding: 0px 0px 0px 20px;
            &:hover {
                text-decoration: none;
                color: white;
            }
            &:focus {
                text-decoration: none;
                color: white;
            }
        }
        .playing {
            color: #000000;
            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
            a {
                color: #000;
            }
        }
     }
}

li.playing:before {
    content: '♬';
    width: 14px;
    height: 14px;
    padding: 3px;
    line-height: 14px;
    margin: 0px;
    position: absolute;
    left: -24px;
    top: 9px;
    color: #fff;
    font-size: 13px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {

    .audiojs {
        width: 280px;
        .time {
            display: none;
        }
        .scrubber {
            width: 220px;
        }
    }

    ol {
        width: 280px;
    }
}

// ***************************************************************************
// IMAGE CONTAINER
// ***************************************************************************

.image-container {
	width:800px;
	height:400px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background: black;
}
.slider_wrapper{
	overflow: hidden;
	position:relative;
	height:280px;
	top:auto;
}
#image_slider{
	position: relative;
	height: auto;
	list-style: none;
	overflow: hidden;
	float: left;
	/*Chrom default padding for ul is 40px */
	padding:0px;
	margin:0px;
}
#image_slider li{
	position: relative;
	float: left;
}
.nvgt{
	position:absolute;
	top: 120px;
	height: 50px;
	width: 30px;
	opacity: 0.6;
}
.nvgt:hover{
	opacity: 0.9;
}
#prev{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
	left: 0px;
}
#next{
	background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
	right: 0px;
}

.modal-dialog {
    width: 835px;
}
